.jumbotron{
background-image: url(http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg);
text-align: center;
color: white;
font-size: 40px;
font-family: monospace;
text-shadow: 3px 3px black;
height: 130px;
}
.well {
  font-family: monospace;
}
#java{
  display: none;
  font-family: monospace;
  color:  #009900;
  font-size: 18px;
  border: 5px;
  border-color: #003300;
  border-style: double;
  background-color: #f2ffe6;
}
#php{
  display: none;
  font-family: monospace;
  color:  #009900;
  font-size: 18px;
  border: 5px;
  border-color: #003300;
  border-style: double;
  background-color: #f2ffe6;
}
#ruby{
  display: none;
  font-family: monospace;
  color:  #009900;
  font-size: 18px;
  border: 5px;
  border-color: #003300;
  border-style: double;
  background-color: #f2ffe6;
}
#design{
  display: none;
  font-family: monospace;
  color:  #009900;
  font-size: 18px;
  border: 5px;
  border-color: #003300;
  border-style: double;
  background-color: #f2ffe6;
}
#error{
  display: none;
  font-family: monospace;
  color:  #009900;
  font-size: 18px;
  border: 5px;
  border-color: #003300;
  border-style: double;
  background-color: #f2ffe6;
}
#questions {
  font-family: monospace;
  color:  #009900;
}
.question{
  font-size: 18px;
}
