.jumbotron{
background-image: url(http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg);
text-align: center;
color: white;
font-size: 40px;
font-family: monospace;
text-shadow: 3px 3px black;
height: 130px;
}
.well {
  font-family: monospace;
}
.java{
  display: none;
}
.php{
  display: none;
}
.ruby{
  display: none;
}
.design{
  display: none;
}
#questions {
  font-family: monospace;
  color:  #009900;
}
.question{
  font-size: 18px;
}
