.jumbotron{
background-image: url(http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg);
text-align: center;
color: white;
font-size: 40px;
font-family: monospace;
text-shadow: 3px 3px black;
height: 130px;
}
.well {
  font-family: monospace;
}
.checkbox-inline {
  margin top: 15px;
  margin-bottom: 15px;
  font-style: italic;
}
#no {
  display: none;
}
#yes {
  display: none;
}
#story-fork {
  display: none;
}
#paint {
  display: none;
}
#paint-button{
  display: none;
}
#artist{
  display: none;
}
#no-artist{
  display: none;
}
